<div id="register" fxLayout="column">

	<div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

		<div id="register-form">

			<div class="title">CREATE AN ACCOUNT</div>

			<form name="registerForm" (ngSubmit)="onSubmit()" #registerForm="ngForm" novalidate>

				<mat-form-field appearance="outline">
					<mat-label for="username">Username</mat-label>
					<input matInput [(ngModel)]="form.username" name="username" required #username="ngModel">
					<mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
					<div *ngIf="registerForm.submitted && form.username.invalid">
						<mat-error *ngIf="username.errors.required">Username is required</mat-error>
						<mat-error *ngIf="username.errors.minlength">
							Username must be at least 3 characters
						</mat-error>
						<mat-error *ngIf="username.errors.maxlength">
							Username must be at most 20 characters
						</mat-error>
					</div>
				</mat-form-field>

				<mat-form-field appearance="outline">
					<mat-label for="firstName">First Name</mat-label>
					<input matInput [(ngModel)]="form.firstName" name="firstName" required #firstName="ngModel">
					<mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
					<div *ngIf="registerForm.submitted && form.firstName.invalid">
						<mat-error *ngIf="firstName.errors.required">Name is required</mat-error>
					</div>
				</mat-form-field>

				<mat-form-field appearance="outline">
					<mat-label for="lastName">Last Name</mat-label>
					<input matInput [(ngModel)]="form.lastName" name="lastName" required #lastName="ngModel">
					<mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
					<div *ngIf="registerForm.submitted && form.lastName.invalid">
						<mat-error *ngIf="lastName.errors.required">Last name is required</mat-error>
					</div>
				</mat-form-field>

				<mat-form-field appearance="outline">
					<mat-label for="phone">Phone</mat-label>
					<input matInput [(ngModel)]="form.phone" name="phone" required #phone="ngModel">
					<mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
					<div *ngIf="registerForm.submitted && form.phone.invalid">
						<mat-error *ngIf="phone.errors.required">Phone number is required</mat-error>
					</div>
				</mat-form-field>


				<mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					<input matInput [(ngModel)]="form.email" name="email" required #email="ngModel">
					<mat-icon matSuffix class="secondary-text">mail</mat-icon>
					<div *ngIf="registerForm.submitted && form.email.invalid">
						<mat-error *ngIf="email.errors.required">
							Email is required
						</mat-error>
						<mat-error *ngIf="email.errors">
							Please enter a valid email address
						</mat-error>
					</div>
				</mat-form-field>

				<mat-form-field appearance="outline">
					<mat-label for="password">Password</mat-label>
					<input matInput [(ngModel)]="form.password" type="password" name="password" required minlength="6"
						#password="ngModel">
					<mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
					<mat-error role="alert" *ngIf="registerForm.submitted && form.password.invalid">
						<div *ngIf="password.errors.required">Password is required</div>
						<div *ngIf="password.errors.minlength">
							Password must be at least 6 characters
						</div>
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="outline">
					<mat-label>Password (Confirm)</mat-label>
					<input matInput type="password" [(ngModel)]="form.passwordConfirm" name="passwordConfirm"
						#passwordConfirm="ngModel">
					<mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
					<mat-error role="alert" *ngIf="registerForm.submitted && form.password.invalid">
						<div *ngIf="passwordConfirm.errors.required">Password is required</div>
						<div *ngIf="!form.passwordConfirm.errors.required &&
                                       form.passwordConfirm.errors.passwordsNotMatching">
							Passwords must match
						</div>
					</mat-error>
				</mat-form-field>

				<div class="terms" fxLayout="row" fxLayoutAlign="center center">
					<mat-checkbox name="terms" aria-label="I read and accept" required>
						<span>I read and accept</span>
						<a href="#">terms and conditions</a>
					</mat-checkbox>
				</div>

				<button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
					[disabled]="registerForm.invalid">
					CREATE AN ACCOUNT
				</button>

			</form>

			<div class="register" fxLayout="column" fxLayoutAlign="center center">
				<span class="text">Already have an account?</span>
				<a class="link" [routerLink]="'/auth/login'">Login</a>
			</div>

		</div>

	</div>

</div>