.mat-form-field {
  margin-bottom: 10px !important;
  width: 100% !important;
}

.buttons-container {
  margin: 10px 20px 20px 20px;
  top: "30px;";
}

.mat-card-product {
  margin-top: 20px !important;
  margin: 0 20px 0 20px;
}

.mat-card-title {
  margin-top: 20px;
}
.mat-card-header {
  margin-bottom: 20px;
}
.mat-card-content {
  margin-top: 20px;
}

.column-card {
  width: 50%;
  padding: 0 1.5em !important;
}
