<button mat-button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" fxShow.lt-md="false" fxShow.gt-sm="true">
    <mat-icon>account_circle</mat-icon>
    <span class="ml-2">Account</span>
</button>
<button mat-icon-button [matMenuTriggerFor]="menu" fxShow.lt-md="true" fxShow.gt-sm="false">
    <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button *ngIf="!isLoggedIn" href="/login" routerLink="login" mat-menu-item>
        <span>Login</span>
    </button>
    <button *ngIf="!isLoggedIn" href="/register" routerLink="register" mat-menu-item>
        <span>Sign up</span>
    </button>
    <button *ngIf="isLoggedIn" href="/profile" routerLink="profile" mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>{{ username }}</span>
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
    <button (click)="logout()" mat-menu-item>
        <mat-icon>input</mat-icon>
        <span>LogOut</span>
    </button>
</mat-menu>