/* For use in src/lib/core/theming/_palette.scss */
$md-papaya: (
  50: #fceae8,
  100: #f6cac6,
  200: #f1a7a1,
  300: #eb837b,
  400: #e6695e,
  500: #e24e42,
  600: #df473c,
  700: #da3d33,
  800: #d6352b,
  900: #cf251d,
  A100: #ffffff,
  A200: #ffd3d2,
  A400: #ffa29f,
  A700: #ff8985,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-mustard: (
  50: #fcf6e0,
  100: #f8e7b3,
  200: #f4d880,
  300: #f0c84d,
  400: #ecbc26,
  500: #e9b000,
  600: #e6a900,
  700: #e3a000,
  800: #df9700,
  900: #d98700,
  A100: #ffffff,
  A200: #ffeace,
  A400: #ffd49b,
  A700: #ffc981,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-blue: (
  50: #e1e7ec,
  100: #b5c3d0,
  200: #839bb1,
  300: #517392,
  400: #2c557a,
  500: #073763,
  600: #06315b,
  700: #052a51,
  800: #042347,
  900: #021635,
  A100: #6d97ff,
  A200: #3a73ff,
  A400: #074fff,
  A700: #0044ec,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-darkgrey: (
  50: #e8e8ea,
  100: #c5c6cc,
  200: #9fa1aa,
  300: #797b87,
  400: #5c5e6e,
  500: #3f4254,
  600: #393c4d,
  700: #313343,
  800: #292b3a,
  900: #1b1d29,
  A100: #7088ff,
  A200: #3d5dff,
  A400: #0a33ff,
  A700: #0028f0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-darkblue: (
  50: #e4e4e6,
  100: #bcbcc0,
  200: #8f8f96,
  300: #62626c,
  400: #40404d,
  500: #1e1e2d,
  600: #1a1a28,
  700: #161622,
  800: #12121c,
  900: #0a0a11,
  A100: #5555ff,
  A200: #2222ff,
  A400: #0000ee,
  A700: #0000d4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
