@import '~@angular/material/theming';
@include mat-core();

mat-grid-tile {
  background: lightblue;
}

.top-dashboard {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.card1 {
  max-width: 500px;
  max-height: 400px;
}

.card2 {
  min-height: 250px;
}

.cardHeader {
  height: 150px;
  max-width: 300px;
}

mat-card {
  mat-card-content {
    mat-button-toggle {
      margin-top: 10px;
    }
  }
}
